
$susy:(
gutters: 0,
columns: 7,
global-box-sizing: border-box, 
/* debug:(image:show), */
);

/*------------------- Border box model------------------- */

@include border-box-sizing;   

/*------------------ Variables------------------ */
html{
	--today_color: #E5D380;
	--main_margin: 50%;
}
$border-color: #989090;
$sunday: #9E2424;

